.icon {
  display: inline-block;
  width: 17px;
  height: 21px;
  background: url(../assets/icon/trophy_prize_icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-left: 5px;
}
